boto3
fastapi[all]
loguru 
nltk
pandas 
praw
pymongo
python-dotenv 
pytz 
regex
requests 
scipy
selenium 
spacy
telegram-send
tensorflow
torch
tqdm
transformers
wheel


# python -m spacy download en_core_web_sm
# python -m spacy download en_core_web_trf

# python3
