// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;


$font-size-root: 16px;
    
$heading-font-family: "Poppins", sans-serif;
$body-font-family: "Inter", sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
}

h6 {
  font-size: 12px;
}

body {
  font-family: $body-font-family;
}

@import "@fontsource/poppins/600.css"; // Defaults to weight 400 with normal variant.
@import "@fontsource/inter/latin.css"; // Defaults to weight 400 with normal variant.
@import "~vuetify/src/styles/styles.sass"; //this has to be last

