// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;


$font-size-root: 15px;
    
$heading-font-family: "Poppins", sans-serif;
$body-font-family: "Inter", sans-serif;
$list-item-subtitle-font-size: 1.2rem;
$list-item-title-font-size: 1.3rem;
// $input-font-size: 13px;

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
}

h6 {
  font-size: 12px;
}

body {
  font-family: $body-font-family;
}

.v-data-table > .v-data-table__wrapper > table > tbody > tr > th, .v-data-table > .v-data-table__wrapper > table > thead > tr > th, .v-data-table > .v-data-table__wrapper > table > tfoot > tr > th {
  font-size: 1.3rem;
}

.v-data-table > .v-data-table__wrapper > table > tbody > tr > td, .v-data-table > .v-data-table__wrapper > table > thead > tr > td, .v-data-table > .v-data-table__wrapper > table > tfoot > tr > td {
  font-size: 1.2rem;
}

.v-input, .v-label {
  font-size: 0.8rem;
}


// trying to change the colours in v-select (doesn't work)

// .theme--light.v-input, .v-input__slot, .theme--light.v-select, .v-select__selections, .v-select__selection, .v-select__selection--comma,
// .v-select.v-text-field input {
//   color: '#604AF0' !important;
// }


@import "@fontsource/poppins/600.css"; // Defaults to weight 600 with normal variant.
@import "@fontsource/inter/latin.css"; // Defaults to weight 400 with normal variant.
@import "~vuetify/src/styles/styles.sass"; //this has to be last

